/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  /* border-radius: 5px; */
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}